<div class="page-header">
  <h3>List of Recipes</h3>
</div>



<table>
  <thead>
    <tr>
      <th>Recipes</th>
       <hr>
    </tr>
  </thead>

  <tbody>



<tbody>
  <tr>
 <% @query2.each do |recipe| %>
    <td><a href="<%= "/recipes/#{recipe['id']}" %>"><%= recipe["name"] %></a></td>
  </tr>
 <% end %>
</tbody>



