<div class="page-header">
  <h3>List of Recipes</h3>
</div>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6KNH2VIJvx0MYnBanDSZeYgqcn_tp4z_VbTvPovZiPRF4hNfc" alt="test" class="img-circle">



<table>
  <thead>
    <tr>
      <th>Recipes</th>
       <hr>
    </tr>
  </thead>

  <tbody>



<tbody>
  <tr>
 <% @query2.each do |recipe| %>
    <td><a href="<%= "/recipes/#{recipe['id']}" %>"><%= recipe["name"] %></a></td>
  </tr>
 <% end %>
</tbody>



